<header>
    <h1>{{title}}</h1>
    <a href="/">Weather</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
    <hr style="height:1px;border:none;border-top:1px solid #555555;" />
</header>

